.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 24%));
    justify-content:space-around;
    gap: 20px;
    padding-bottom: 20px;
}

.gallery > li {
    height: 300px;
}